html(lang='en')
    head
        style.
        meta(charset='utf-8')
    body(style="margin:0;padding:0;") 
        img#userimg(src=picture.data.url, style='top: 14px; width: 157px; height: 157px;  left: 321px;  position:absolute;')
        img#userimgx(src=win.picture.data.url, style='top: 153px; width: 141px; height: 141px; left: 207px; position:absolute;')
        img(src='http://s3-eu-west-1.amazonaws.com/imgserve.izteglisi.com/fb/HkI9l-8xx.png', alt='', style='position:absolute;')