- var f = locals.quotes.female[Math.floor((Math.random() * 86) + 0)];
- var f1 = f.replace('300','').replace('.jpg','').replace('female-','').replace('_','').replace('1','');
- var m = locals.quotes.male[Math.floor((Math.random() * 65) + 0)];
- var m1 = m.replace('300','').replace('.jpg','').replace('male-','').replace('_','').replace('1','');
doctype
html(lang='en')
    head
        meta(charset='utf-8')
        style.
            @font-face {
            font-family: "OpenSans";
            src: url("//s3-eu-west-1.amazonaws.com/arpecop.com/cdn/OpenSans-Bold.woff") format('woff');
            }
            @font-face {
            font-family: "big";
            src: url("//s3-eu-west-1.amazonaws.com/arpecop.com/cdn/OpenSans-Bold.woff") format('woff');
            }
            .letter {
            font-size: 20px;
            text-shadow: 0px 0px 11px rgba(150, 150, 150, 1);
            text-transform: uppercase;
            font-family: 'Bold', Arial;
            }
            .letter div {
            background-color:#582857;
            margin-top:260px;
            color:#FFF;
            }
    body(style="margin:0;padding:0;") 
        .coverimage1(style="text-align:center; height:315px; width:50%; float:right; font-family:'OpenSans'; background: transparent url('"+ximg+"')  no-repeat center center;      -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; display: table;")
    if locals.gender == 'female'
        div.letter(style="text-align:center; height:315px; width:50%; float:right; font-family:'OpenSans'; background: transparent url('//s3-eu-west-1.amazonaws.com/arpecop.com/cdn/"+f+"')  no-repeat center center;      -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; display: table;") 
            div #{namex} - #{f1.replace('-',' ')}
    else
        div.letter(style="text-align:center; height:315px; width:50%; float:right; font-family:'OpenSans'; background: transparent url('//s3-eu-west-1.amazonaws.com/arpecop.com/cdn/"+m+"')  no-repeat center center;      -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; display: table;") 
            div #{namex} - #{m1.replace('-',' ')}