- var mother = Math.floor((Math.random() * 100) + 0);
- var father = Math.round(100 - mother)
- var mpx = Math.round(mother * 2.5);
- var fpx = Math.round(father * 2.5);
doctype
html(lang='en') 
    head
        meta(charset='utf-8')
        style.
            #centered {position:fixed; left:0; width:617px; top:50px;   font-size:34px; text-align:center; font-family:"Lato Light"}
            .mother {float:left;}
            .father {float:right;}
            .winner {display: table-cell; vertical-align: middle; background-color:rgba(0, 0, 0, 0.9);}
    body(style="margin:0;padding:0; width:617px;height:324px;") 
        img.father(style="width:"+fpx+"px;" src="http://arpecop.herokuapp.com/images/fother.png") 
        img.mother(style="width:"+mpx+"px;" src="http://arpecop.herokuapp.com/images/mother.png")
        #centered #{first_name}   
            br
            |#{mother}% #{data.m} 
            br
            |#{father}% #{data.f} 