doctype
html(lang='en')
    head
        meta(charset='utf-8')
        script(src="file:///app/_views/jquery.js")
        style(type='text/css').
            body {
            margin:0;
            padding:0;
            width: 617px;
            height:324px;
            color:#f2f2f2;
            text-align:center;
            }
            .letter {
            font-size: 70px;
            height: 324px;
            text-shadow: 0px 0px 11px rgba(150, 150, 150, 1);
            text-transform: uppercase;
            font-family: 'Lato Bold', Arial;
            font-weight: 700;
            height: 20px;
            font-weight: bold;
            float: left;
            height: 60px;
            text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
            }
            #name {
            display: none;
            }
            #name1 {
            margin-left: auto;
            margin-right: auto;
            }
            .word {
            color: #FFF;
            font-family: 'Lati Light', Arial;
            text-shadow: none !important;
            font-weight: 300;
            font-size: 20px;
            text-transform: uppercase;
            max-width: 5px;
            -webkit-transform: rotate(-55deg);
            position: fixed;
            top: 150px;
            margin-left: 7px;
            }
            #cont {
            height: 115px;
            overflow: hidden;
            padding-top: 165px;
            margin-right: auto;
            margin-left: auto;
            }
    body(style="background-color:#"+color)
    #cont
        #name #{first_name}
        #name1  
        #name2  
    script(type='text/javascript').
        var males = function(bukva) {
        if (bukva == "a" || bukva == "а") {
        return "активен  ";
        } else if (bukva == "б" || bukva == "b") {
        return "безгрижен";
        } else if (bukva == "в" || bukva == "v") {
        return "внимателен ";
        } else if (bukva == "г" || bukva == "g") {
        return "гениален";
        } else if (bukva == "д" || bukva == "d") {
        return "директен ";
        } else if (bukva == "е" || bukva == "e") {
        return " естествен ";
        } else if (bukva == "ж" || bukva == "j") {
        return "жив";
        } else if (bukva == "з" || bukva == "z") {
        return "завоевателен";
        } else if (bukva == "и" || bukva == "i") {
        return "изискан";
        } else if (bukva == "й") {
        return "издигнат";
        } else if (bukva == "к" || bukva == "k") {
        return "комбиниран";
        } else if (bukva == "л" || bukva == "l") {
        return "любознателен";
        } else if (bukva == "м" || bukva == "m") {
        return "максимален";
        } else if (bukva == "н" || bukva == "n") {
        return "наблюдателен";
        } else if (bukva == "о" || bukva == "o") {
        return "обичлив";
        } else if (bukva == "п" || bukva == "p") {
        return "подреден";
        } else if (bukva == "р" || bukva == "r") {
        return "романтичен ";
        } else if (bukva == "с" || bukva == "s") {
        return "самоуверен  ";
        } else if (bukva == "т" || bukva == "t") {
        return "толерантен";
        } else if (bukva == "у" || bukva == "u") {
        return "умен";
        } else if (bukva == "ф" || bukva == "f") {
        return "фантастичен";
        } else if (bukva == "x") {
        return "храбър";
        } else if (bukva == "х" || bukva == "h") {
        return "храбър";
        } else if (bukva == "ч") {
        return "чаровен";
        } else if (bukva == "щ") {
        return "щедър";
        } else if (bukva == "ш") {
        return "шармантен";
        } else if (bukva == "я" || bukva == "q") {
        return "ярък";
        } else if (bukva == "ц" || bukva == "c") {
        return "цялостен";
        } else {
        return " ";
        }
        }
        //
        var females = function(bukva) {
        if (bukva == "a" || bukva == "а") {
        return "активна";
        } else if (bukva == "б" || bukva == "b") {
        return " безгрижна";
        } else if (bukva == "в" || bukva == "v") {
        return "внимателен ";
        } else if (bukva == "г" || bukva == "g") {
        return "гениална";
        } else if (bukva == "д" || bukva == "d") {
        return "директна ";
        } else if (bukva == "е" || bukva == "e") {
        return "естествена ";
        } else if (bukva == "ж" || bukva == "j") {
        return "жив";
        } else if (bukva == "з" || bukva == "z") {
        return "завоевателна";
        } else if (bukva == "и" || bukva == "i") {
        return "изискана";
        } else if (bukva == "й") {
        return "издигната";
        } else if (bukva == "к" || bukva == "k") {
        return "комбинирана";
        } else if (bukva == "л" || bukva == "l") {
        return "любознателна";
        } else if (bukva == "м" || bukva == "m") {
        return "максимална";
        } else if (bukva == "н" || bukva == "n") {
        return "наблюдателна";
        } else if (bukva == "о" || bukva == "o") {
        return "обичлива";
        } else if (bukva == "п" || bukva == "p") {
        return "подредена";
        } else if (bukva == "р" || bukva == "r") {
        return "романтична ";
        } else if (bukva == "с" || bukva == "s") {
        return "самоуверена ";
        } else if (bukva == "т" || bukva == "t") {
        return "толерантна";
        } else if (bukva == "у" || bukva == "u") {
        return "умна";
        } else if (bukva == "ф" || bukva == "f") {
        return "фантастична";
        } else if (bukva == "x") {
        return "храбра";
        } else if (bukva == "х" || bukva == "h") {
        return "храбра";
        } else if (bukva == "ч") {
        return "чаровна";
        } else if (bukva == "щ") {
        return "щедра";
        } else if (bukva == "ш") {
        return "шармантна";
        } else if (bukva == "я" || bukva == "q") {
        return "ярка";
        } else if (bukva == "ц" || bukva == "c") {
        return "цялостна";
        } else {
        return " ";
        }
        }
        var name = "#{first_name}".toLowerCase();
        $('#name').text(name)
        var arr = $(name.split(''));
        var last_char1 = arr.length - 1;
        var lc = arr[last_char1];
        if (lc == "a" || lc == "o" || lc == "u" || lc == "y" || lc == "e" || lc == "а" || lc == "ъ" || lc == "о" || lc == "и" || lc == "i" || lc == "я" || lc == "у") {
        var getproperty = females;
        } else {
        console.log('male')
        var getproperty = males;
        }
        var harr = [];
        $.each(arr, function(index, val) {
        var ass = getproperty(val);
        harr.push(val.toUpperCase() + ' - ' + ass + ', \\n')
        $('#name1').append('<div class="' + val + ' letter ' + index + '" id="' + val + '"><span class="word word' + val + '" >' + ass + '</span>' + val + '</div>')
        });
        var arrlngth = arr.length - 1;
        var pos = $('.' + arrlngth).position().left;
        var end = Math.round(80 + pos);
        $('#cont').css({
        width: end + "px"
        });
        $.each($('#name1 .letter'), function(index, val) {
        var wdth = $(this).width();
        var id = $(this).attr('id');
        if (index == arrlngth) {
        var position = $(this).position().left + wdth;
        };
        var newwd = wdth / 2 - 2;
        $('.word' + id).css({
        marginLeft: newwd + "px"
        });
        })
