doctype
html(lang='en')
    head
        meta(charset='utf-8')
    body(style="margin:0;padding:0;") 
        .coverimage(style="text-align:center; height:315px; width:620px; font-family:'OpenSans'; background: transparent url('http://s3-eu-west-1.amazonaws.com/arpecop.com/cdn/"+item+"')  no-repeat center center;      -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; display: table;")
            .text(style="-webkit-font-smoothing: antialiased;font-size:25px;  padding:3px;   width:70%; -webkit-transform: rotate(-2deg);    display: table-cell; vertical-align: middle;")
                div(style="width:70%; margin:auto; line-height:20px; padding:14px; color:#FFF; text-shadow: 1px 1px 4px rgba(150, 150, 150, 1);")  #{first_name} , #{resultx} 