body(style="margin:0;padding:0;") 
    .coverimage(style="text-align:center; height:315px; width:620px; font-family:'OpenSans'; background: transparent url('//s3-eu-west-1.amazonaws.com/arpecop.com/cdn/"+image+".jpg')  no-repeat center center;      -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; display: table;")
        .text(style="-webkit-font-smoothing: antialiased;font-size:25px;  padding:5px;   width:70%; -webkit-transform: rotate(-2deg);    display: table-cell; vertical-align: middle;")
            div(style="background-color:#FFF;  width:70%; margin:auto; line-height:20px; padding:20px;-webkit-box-shadow: 0 8px 6px -6px black;")  #{first_name} , #{quote} 
